/* Error: expected ";".
 *   ,
 * 7 | $font__primary: arial;
 *   |               ^
 *   '
 *   sass/abstracts/_vars.scss 7:15  @use
 *   sass/base/_base.scss 1:1        @use
 *   sass/base/_index.scss 2:1       @use
 *   sass/style.scss 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 7 \2502  $font__primary: arial;\a   \2502                ^\a   \2575 \a   sass/abstracts/_vars.scss 7:15  @use\a   sass/base/_base.scss 1:1        @use\a   sass/base/_index.scss 2:1       @use\a   sass/style.scss 4:1             root stylesheet';
}
