@use '../abstracts/vars';

.btn-ui {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var.$color__primary;
  cursor: pointer;
  svg {
    width: 2rem;
    height: auto;
    fill: var.$color__primary;
  }
}
