.room {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  &--name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: arial;
  }
  &--description {
    font-size: 1rem;
    font-family: arial;
    font-style: italic;
  }
}
